{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/reset_form.css' %}" rel="stylesheet" type="text/css" />
    <style>

    </style>
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="text-center">Recuperar contraseña</h2>
                        <p class="text-muted text-center">Introduce tu correo electrónico para recibir un enlace de recuperación</p>
                        
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Correo electrónico</label>
                                <input type="email" class="form-control" name="email" required style="padding-left: 35px;">
                                <div id="email-icon" class="icon-container"></div>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Enviar correo</button>
                        </form>
    
                        <div class="mt-3 text-center">
                            <a href="{% url 'login' %}" class="text-decoration-none">Volver al inicio de sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"></script>
    <script>
        var mailJsonUrl = "{% static 'icon/mail.json' %}";

        document.addEventListener("DOMContentLoaded", function () {
            fetch(mailJsonUrl)
            .then(response => response.json())
            .then(data => {
                lottie.loadAnimation({
                    container: document.getElementById("email-icon"),
                    renderer: "svg",
                    loop: true,
                    autoplay: true,
                    animationData: data
                });
            })
            .catch(error => console.error("Error cargando mail.json:", error));
        });
    </script>


    {% endblock %}
</body>
</html>